body,
html {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  color: black;
  background: white;
  --minFontSize: 16px;
  --maxFontSize: 24px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#world {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  height: 400vh;
}

.title {
  position: fixed;
  top: 4%;
  left: 4%;
}

#middle {
  display: flex;
  font-size: 8vw;
  position: absolute;
  color: white;
  mix-blend-mode: difference;
  pointer-events: none;
}

.url {
  position: fixed;
  bottom: 4%;
  right: 4%;
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
}
